/* montserrat-regular - latin */
@font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/montserrat-v26-latin-regular.eot');
    /* IE9 Compat Modes */
    src: url('../fonts/montserrat-v26-latin-regular.eot?#iefix') format('embedded-opentype'),
        /* IE6-IE8 */
        url('../fonts/montserrat-v26-latin-regular.woff2') format('woff2'),
        /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
        url('../fonts/montserrat-v26-latin-regular.woff') format('woff'),
        /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+, iOS 5+ */
        url('../fonts/montserrat-v26-latin-regular.ttf') format('truetype'),
        /* Chrome 4+, Firefox 3.5+, IE 9+, Safari 3.1+, iOS 4.2+, Android Browser 2.2+ */
        url('../fonts/montserrat-v26-latin-regular.svg#Montserrat') format('svg');
    /* Legacy iOS */
}

/* montserrat-500 - latin */
@font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    src: url('../fonts/montserrat-v26-latin-500.eot');
    /* IE9 Compat Modes */
    src: url('../fonts/montserrat-v26-latin-500.eot?#iefix') format('embedded-opentype'),
        /* IE6-IE8 */
        url('../fonts/montserrat-v26-latin-500.woff2') format('woff2'),
        /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
        url('../fonts/montserrat-v26-latin-500.woff') format('woff'),
        /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+, iOS 5+ */
        url('../fonts/montserrat-v26-latin-500.ttf') format('truetype'),
        /* Chrome 4+, Firefox 3.5+, IE 9+, Safari 3.1+, iOS 4.2+, Android Browser 2.2+ */
        url('../fonts/montserrat-v26-latin-500.svg#Montserrat') format('svg');
    /* Legacy iOS */
}

/* montserrat-600 - latin */
@font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    src: url('../fonts/montserrat-v26-latin-600.eot');
    /* IE9 Compat Modes */
    src: url('../fonts/montserrat-v26-latin-600.eot?#iefix') format('embedded-opentype'),
        /* IE6-IE8 */
        url('../fonts/montserrat-v26-latin-600.woff2') format('woff2'),
        /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
        url('../fonts/montserrat-v26-latin-600.woff') format('woff'),
        /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+, iOS 5+ */
        url('../fonts/montserrat-v26-latin-600.ttf') format('truetype'),
        /* Chrome 4+, Firefox 3.5+, IE 9+, Safari 3.1+, iOS 4.2+, Android Browser 2.2+ */
        url('../fonts/montserrat-v26-latin-600.svg#Montserrat') format('svg');
    /* Legacy iOS */
}

/* montserrat-700 - latin */
@font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/montserrat-v26-latin-700.eot');
    /* IE9 Compat Modes */
    src: url('../fonts/montserrat-v26-latin-700.eot?#iefix') format('embedded-opentype'),
        /* IE6-IE8 */
        url('../fonts/montserrat-v26-latin-700.woff2') format('woff2'),
        /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
        url('../fonts/montserrat-v26-latin-700.woff') format('woff'),
        /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+, iOS 5+ */
        url('../fonts/montserrat-v26-latin-700.ttf') format('truetype'),
        /* Chrome 4+, Firefox 3.5+, IE 9+, Safari 3.1+, iOS 4.2+, Android Browser 2.2+ */
        url('../fonts/montserrat-v26-latin-700.svg#Montserrat') format('svg');
    /* Legacy iOS */
}


#page-accueil h1 {
    font-family: 'Montserrat';
    /* Police Montserrat */
    font-weight: 700;
    /* Poids de la police */
}

#page-accueil ul {
    font-family: 'Montserrat';
    /* Police Montserrat */
    font-weight: 400;
    /* Poids de la police */
}

#presentation h2 {
    font-family: 'Montserrat';
    /* Police Montserrat */
    font-weight: 700;
    /* Poids de la police */
}

#presentation p {
    font-family: 'Montserrat';
    /* Police Montserrat */
    font-weight: 400;
    /* Poids de la police */
    display: flex;
    align-items: center;
    font-size: 1.3rem;
}

#diplomescertif h2 {
    font-family: 'Montserrat';
    /* Police Montserrat */
    font-weight: 700;
    /* Poids de la police */
}

#diplomescertif h3 {
    font-family: 'Montserrat';
    /* Police Montserrat */
    font-weight: 400;
    /* Poids de la police */
}

#diplomescertif p {
    font-family: 'Montserrat';
    /* Police Montserrat */
    font-weight: 400;
    /* Poids de la police */
}

#diplomescertif i {
    font-family: 'Montserrat';
    /* Police Montserrat */
    font-weight: 400;
    /* Poids de la police */
}

#competences h2 {
    font-family: 'Montserrat';
    /* Police Montserrat */
    font-weight: 700;
    /* Poids de la police */
}

#competences h3 {
    font-family: 'Montserrat';
    /* Police Montserrat */
    font-weight: 400;
    /* Poids de la police */
}

#competences button {
    font-family: 'Montserrat';
    /* Police Montserrat */
    font-weight: 600;
    /* Poids de la police */
}

#langues h2 {
    font-family: 'Montserrat';
    /* Police Montserrat */
    font-weight: 700;
    /* Poids de la police */
}

#langues h3 {
    font-family: 'Montserrat';
    /* Police Montserrat */
    font-weight: 600;
    /* Poids de la police */
}

#projets h2 {
    color: white;
    font-family: 'Montserrat';
    /* Police Montserrat */
    font-weight: 700;
    /* Poids de la police */
}

#projets h3 {
    font-family: 'Montserrat';
    /* Police Montserrat */
    font-weight: 600;
    /* Poids de la police */
}

#projets p {
    font-family: 'Montserrat';
    /* Police Montserrat */
    font-weight: 500;
    /* Poids de la police */
}

#projets a {
    font-family: 'Montserrat';
    /* Police Montserrat */
    font-weight: 500;
    /* Poids de la police */
}

#experiences h2 {
    font-family: 'Montserrat';
    /* Police Montserrat */
    font-weight: 700;
    /* Poids de la police */
}

#experiences span {
    font-family: 'Montserrat';
    /* Police Montserrat */
    font-weight: 600;
    /* Poids de la police */
}

#experiences div {
    font-family: 'Montserrat';
    /* Police Montserrat */
    font-weight: 400;
    /* Poids de la police */
}

#contact h2 {
    font-family: 'Montserrat';
    /* Police Montserrat */
    font-weight: 700;
    /* Poids de la police */
}

#contact h3 {
    font-family: 'Montserrat';
    /* Police Montserrat */
    font-weight: 600;
    /* Poids de la police */
}

#contact label {
    font-family: 'Montserrat';
    /* Police Montserrat */
    font-weight: 400;
    /* Poids de la police */
}

#footer p {
    font-family: 'Montserrat';
    /* Police Montserrat */
    font-weight: 700;
    /* Poids de la police */
}

#footer a {
    font-family: 'Montserrat';
    /* Police Montserrat */
    font-weight: 500;
    /* Poids de la police */
}

#navbar span {
    font-family: 'Montserrat';
    /* Police Montserrat */
    font-weight: 500;
    /* Poids de la police */
}