/* ----------------------------------------------- */
/* Styles globaux */
/* ----------------------------------------------- */

/* Applique des styles à tous les éléments */
* {
  margin: 0;
  /* Supprime les marges */
  padding: 0;
  /* Supprime les espacements intérieurs */
  box-sizing: border-box;
  /* La taille de la boite est celle de la bordure */
  scroll-behavior: smooth !important;
  /* Assure un défilement doux */
}

/* Styles pour le corps du document */
body {
  display: flex;
  /* Utilise le flexbox pour le layout */
  flex-direction: column;
  /* Organise les éléments en colonne */
  background-color: #3498db;
  /* Définit la couleur de fond */
}

/* Styles pour les divs directement sous le corps du document */
body>div {
  height: 100vh;
  /* Hauteur de 100% de la hauteur de la fenêtre */
}

/* ----------------------------------------------- */
/* Styles pour le template */
/* ----------------------------------------------- */

/* Styles pour le titre */
.title-box {
  font-weight: 900;
  /* Poids de la police */
  font-size: xx-large;
  /* Taille de la police */
}

/* Styles pour la boite à deux rangées et deux colonnes */
.box-two-rows-tow-columns {
  width: 80%;
  /* Largeur de 80% */
  height: fit-content;
  /* Hauteur adaptée au contenu */
  background-color: white;
  /* Couleur de fond blanc */
  border-radius: 15px;
  /* Bordures arrondies */
  padding: 20px;
  /* Espacement intérieur */

  display: grid;
  /* Utilise le grid pour le layout */

  grid-template-columns: 50% 50%;
  /* Deux colonnes de taille égale */

  row-gap: 10px;
  /* Espacement entre les rangées */
}

/* Styles pour les éléments de la boite à deux rangées et deux colonnes */
.box-two-rows-tow-columns-first-element {
  grid-row-start: 1;
  /* Commence à la première rangée */
  grid-column-start: 1;
  /* Commence à la première colonne */

  grid-row-end: 2;
  /* Termine à la deuxième rangée */
  grid-column-end: 3;
  /* Termine à la troisième colonne */
  text-align: center;
  /* Texte centré */
}

.box-two-rows-tow-columns-second-element {
  grid-row-start: 2;
  /* Commence à la deuxième rangée */
  grid-column-start: 1;
  /* Commence à la première colonne */

  grid-row-end: 3;
  /* Termine à la troisième rangée */
  grid-column-end: 2;
  /* Termine à la deuxième colonne */
}

.box-two-rows-tow-columns-third-element {
  grid-row-start: 2;
  /* Commence à la deuxième rangée */
  grid-column-start: 2;
  /* Commence à la deuxième colonne */

  grid-row-end: 3;
  /* Termine à la troisième rangée */
  grid-column-end: 3;
  /* Termine à la troisième colonne */
}

/* Styles pour la flèche de défilement */
.scroll-arrow {
  transform: translateX(-50%);
  /* Centre horizontalement */
  font-size: 4rem;
  /* Taille de la police */
  animation: bounce 2s infinite;
  /* Animation de rebondissement */
  color: white;
  /* Couleur de la police */
  position: absolute;
  /* Positionnement absolu */
  left: 50%;
  /* Centré horizontalement */
}

/* Styles pour les différentes flèches de défilement */
#arrow-1 {
  top: calc(100% - 84px);
}

/* Positionnement vertical */
#arrow-2 {
  top: calc(200% - 84px);
}

#arrow-3 {
  top: calc(300% - 84px);
}

#arrow-4 {
  top: calc(400% - 84px);
}

#arrow-5 {
  top: calc(500% - 84px);
}

#arrow-6 {
  top: calc(600% - 84px);
}

#arrow-7 {
  top: calc(700% - 84px);
}

/* ----------------------------------------------- */
/* Styles pour la page d'accueil */
/* ----------------------------------------------- */

/* Styles pour la page d'accueil */
#page-accueil {
  color: white;
  /* Couleur de la police */
  text-align: center;
  /* Texte centré */
  font-size: 4rem;
  /* Taille de la police */
  font-weight: bold;
  /* Poids de la police */

  display: flex;
  /* Utilise le flexbox pour le layout */
  flex-direction: column;
  /* Organise les éléments en colonne */
  justify-content: center;
  /* Centre verticalement */
}

/* Styles pour le titre de la page d'accueil */
#page-accueil>h1 {
  text-align: center;
  /* Texte centré */
}

/* Stylisation de la liste sur la page d'accueil */
#page-accueil ul {
  list-style-type: none;
  /* Suppression des puces */
  text-align: center;
  /* Alignement du texte au centre */
  font-size: 2rem;
  /* Taille de la police */
}

/* --------------------------------------- */
/* Déroulant */
/* --------------------------------------- */

/* Stylisation du menu déroulant */
#deroulant {
  overflow: hidden;
  /* Cache le contenu débordant */
  position: relative;
  /* Position relative pour le positionnement interne */
  float: right;
  /* Flotte à droite */
  height: 65px;
  /* Hauteur fixe */
  width: 100%;
  /* Largeur totale */
  padding-top: 15px;
  /* Espacement en haut */
  margin-top: 5px;
  /* Marge en haut */
  text-align: center;
  /* Alignement du texte au centre */
}

/* Animation du menu déroulant */
#deroulant .tournicoti {
  animation: show 10s linear infinite;
  /* Animation infinie de 10 secondes */
}

/* Stylisation des éléments de liste du menu déroulant */
#deroulant .tournicoti li {
  color: #eee;
  /* Couleur du texte */
  font-weight: 700;
  /* Poids de la police */
  height: 45px;
  /* Hauteur fixe */
  margin-bottom: 45px;
  /* Marge en bas */
  display: block;
  /* Affichage en bloc */
}

/* Positionnement de la flèche */
#arrow-1 {
  position: absolute;
  /* Position absolue */
  bottom: 20px;
  /* Position du bas */
  left: 50%;
  /* Position de gauche */
}

/* --------------------------------------- */
/* Présentation */
/* --------------------------------------- */

/* Stylisation de la section de présentation */
#presentation {
  display: flex;
  /* Affichage en flex */
  align-items: center;
  /* Alignement des éléments au centre */
  justify-content: center;
  /* Justification du contenu au centre */
}

#boitepresentation{
  width: 60%;
  grid-template-columns: 30% 70%;
}

/* Stylisation de l'image de profil dans la section de présentation */
#presentation #imgprofil {
  align-items: center;
  /* Alignement des éléments au centre */
  justify-self: center;
  /* Justification de l'élément lui-même au centre */
  max-width: 90%;
  /* Largeur maximale */
  border-radius: 10%;
}

/* --------------------------------------- */
/* Diplômes et Certifications */
/* --------------------------------------- */

/* Stylisation de la section des diplômes et certifications */
#diplomescertif {
  display: flex;
  /* Affichage en flex */
  align-items: center;
  /* Alignement des éléments au centre */
  justify-content: center;
  /* Justification du contenu au centre */
}

/* Stylisation des boîtes de diplômes et certifications */
#box-diplomes,
#box-certif {
  display: flex;
  /* Affichage en flex */
  flex-direction: column;
  /* Direction de flex en colonne */

  align-items: center;
  /* Alignement des éléments au centre */
  gap: 10px;
  /* Espacement entre les éléments */

}

/* Stylisation des divs dans les boîtes de diplômes et certifications */
#box-diplomes>div,
#box-certif>div {
  background-color: white;
  /* Couleur de fond */
  border-radius: 15px;
  /* Rayon de la bordure */
  display: grid;
  /* Affichage en grille */
  min-height: 100px;
  /* Hauteur minimale */
  width: fit-content;
  /* Largeur adaptée au contenu */
  padding: 10px;
  /* Rembourrage */
  grid-template-rows: auto 1fr;
  /* Modèle de grille pour les rangées */
  grid-template-columns: 70% 30%;
  /* Modèle de grille pour les colonnes */
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
  /* Ombre de la boîte */
  width: 90%;
  /* Largeur */
}

/* Stylisation des titres dans les divs des boîtes de diplômes et certifications */
#box-diplomes>div h3,
#box-certif>div h3 {
  width: fit-content;
  /* Largeur adaptée au contenu */
  height: fit-content;
  /* Hauteur adaptée au contenu */
}

/* Stylisation des icônes dans les divs des boîtes de diplômes et certifications */
#box-diplomes>div i,
#box-certif>div i {
  width: fit-content;
  /* Largeur adaptée au contenu */
  height: fit-content;
  /* Hauteur adaptée au contenu */
}

/* Stylisation des paragraphes dans les divs des boîtes de diplômes et certifications */
#box-diplomes>div p,
#box-certif>div p {
  grid-row-start: 2;
  /* Début de la rangée de la grille */
  grid-column-start: 1;
  /* Début de la colonne de la grille */

  grid-row-end: 3;
  /* Fin de la rangée de la grille */
  grid-column-end: 3;
  /* Fin de la colonne de la grille */
  width: 100%;
  /* Largeur totale */
  overflow-wrap: break-word;
  /* Permet le retour à la ligne */
}

/* --------------------------------------- */
/* --------------------------------------- */
/* Section Compétences */

/* Conteneur principal pour les compétences */
#competences {
  display: flex;
  /* Affiche les éléments en ligne */
  align-items: center;
  /* Centre les éléments verticalement */
  justify-content: center;
  /* Centre les éléments horizontalement */
}

/* Boîte contenant les compétences */
#boitecompetences {
  width: 50%;
  /* Largeur de la boîte */
  height: fit-content;
  /* Hauteur adaptée au contenu */
  padding: 20px;
  /* Espace intérieur autour du contenu */
  background-color: white;
  /* Couleur de fond de la boîte */
  border-radius: 15px;
  /* Coins arrondis de la boîte */

  display: flex;
  /* Affiche les éléments en ligne */
  flex-direction: column;
  /* Organise les éléments en colonne */
  align-items: center;
  /* Centre les éléments verticalement */
  justify-content: center;
  /* Centre les éléments horizontalement */
  gap: 10px;
  /* Espace entre les éléments */
}

/* Sous-divisions dans la boîte de compétences */
#boitecompetences>div {
  display: flex;
  /* Affiche les éléments en ligne */
  flex-direction: column;
  /* Organise les éléments en colonne */
  gap: 7px;
  /* Espace entre les éléments */
}

/* Sous-divisions dans les sous-divisions de la boîte de compétences */
#boitecompetences>div>div {
  display: flex;
  /* Affiche les éléments en ligne */
  flex-direction: column;
  /* Organise les éléments en colonne */
  flex-wrap: wrap-reverse;
  /* Permet aux éléments de se réorganiser en colonnes si nécessaire */
  gap: 5px;
  /* Espace entre les éléments */
}

/* Boutons dans la boîte de compétences */
#boitecompetences button {
  font-size: 1rem;
  /* Taille du texte */
  color: #fff;
  /* Couleur du texte */
  background-color: #165E8E;
  /* Couleur de fond du bouton */
  border: none;
  /* Pas de bordure */
  border-radius: 5px;
  /* Coins arrondis du bouton */
  padding: 10px 20px;
  /* Espace intérieur autour du texte */
  margin: 2px;
  /* Espace autour du bouton */
  cursor: default;
  /* Change le curseur en forme de flèche */
  transition: background-color 0.3s ease;
  /* Transition douce de la couleur de fond */
}

/* Effet de survol pour les boutons dans la boîte de compétences */
#boitecompetences button:hover {
  background-color: #06c;
  /* Change la couleur de fond lors du survol */
}

/* --------------------------------------- */
/* Section Langues */

/* Conteneur principal pour les langues */
#langues {
  display: flex;
  /* Affiche les éléments en ligne */
  align-items: center;
  /* Centre les éléments verticalement */
  justify-content: center;
  /* Centre les éléments horizontalement */
}

/* Boîte contenant les langues */
#boitelangues {
  width: fit-content;
  /* Largeur adaptée au contenu */
  height: fit-content;
  /* Hauteur adaptée au contenu */
  padding: 20px;
  /* Espace intérieur autour du contenu */
  background-color: white;
  /* Couleur de fond de la boîte */
  border-radius: 15px;
  /* Coins arrondis de la boîte */

  display: flex;
  /* Affiche les éléments en ligne */
  flex-direction: column;
  /* Organise les éléments en colonne */
  align-items: center;
  /* Centre les éléments verticalement */
  justify-content: center;
  /* Centre les éléments horizontalement */
  gap: 10px;
  /* Espace entre les éléments */
}

/* Sous-divisions dans la boîte de langues */
#boitelangues>div {
  display: flex;
  /* Affiche les éléments en ligne */
  flex-direction: column;
  /* Organise les éléments en colonne */
  gap: 15px;
  /* Espace entre les éléments */
}

/* Sous-divisions dans les sous-divisions de la boîte de langues */
#boitelangues>div>div {
  display: flex;
  /* Affiche les éléments en ligne */
  align-items: center;
  /* Centre les éléments verticalement */
  justify-content: left;
  /* Centre les éléments horizontalement */
  gap: 10px;
  /* Espace entre les éléments */
}

/* Images dans les sous-divisions de la boîte de langues */
#boitelangues>div>div>img {
  width: 50px;
  /* Largeur de l'image */
  border: black 2px solid;
  /* Bordure noire autour de l'image */
  border-radius: 50%;
  /* Image ronde */
}

/* --------------------------------------- */
/* Section Projets */

/* Conteneur principal pour les projets */
#projets {
  display: flex;
  /* Affiche les éléments en ligne */
  align-items: center;
  /* Centre les éléments verticalement */
  justify-content: center;
  /* Centre les éléments horizontalement */
}

/* Boîte contenant les projets */
#boiteprojets {
  display: flex;
  /* Affiche les éléments en ligne */
  flex-direction: column;
  /* Organise les éléments en colonne */
  align-items: center;
  /* Centre les éléments verticalement */
  justify-content: center;
  /* Centre les éléments horizontalement */
  gap: 10px;
  /* Espace entre les éléments */
}

/* Style pour la boîte contenant les projets */
#boiteprojets>div {
  display: flex;
  /* Utilisation de Flexbox pour la mise en page */
  flex-direction: row;
  /* Les éléments sont disposés en ligne */
  flex-wrap: wrap;
  /* Les éléments peuvent se répartir sur plusieurs lignes si nécessaire */
  gap: 10px;
  /* Espace entre les éléments */
  align-items: center;
  /* Centrage vertical des éléments */
  justify-content: center;
  /* Centrage horizontal des éléments */
}

/* Style pour chaque carte de projet */
.CarteProjet {
  width: 40%;
  /* Largeur de la carte */
  height: 200px;
  background: #fff;
  /* Fond blanc */
  border-radius: 5px;
  /* Coins arrondis */
  overflow: hidden;
  /* Cache les éléments débordants */
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.07);
  /* Ombre portée */
  transition: 0.25s;
  /* Transition douce pour les changements de style */
}

/* Style pour la carte de projet au survol */
.CarteProjet:hover {
  box-shadow: 0 8px 15px 0 rgba(0, 0, 0, 0.07);
  /* Ombre portée plus prononcée */
}

/* Style pour le contenu de la carte de projet */
.CarteProjetContenu {
  display: grid;
  /* Utilisation de Grid pour la mise en page */
  grid-template-columns: 1fr 2fr;
  /* Deux colonnes de tailles différentes */
}

/* Style pour l'image de la carte de projet */
.CarteProjetImgRPI {
  display: flex;
  justify-content: center;
  align-items: center;
}

.CarteProjetImgRPI img {
  height: 200px;
  width: auto;
}

/* Style pour l'image de la carte de projet */
.CarteProjetImgSAE15 {
  display: flex;
  justify-content: center;
  align-items: center;
}

.CarteProjetImgSAE15 img {
  height: 200px;
  width: auto;
}

.CarteProjetImgSAE12 {
  display: flex;
  justify-content: center;
  align-items: center;
}

.CarteProjetImgSAE12 img {
  height: 200px;
  width: auto;
}

.CarteProjetImgSAE13 {
  display: flex;
  justify-content: center;
  align-items: center;
}

.CarteProjetImgSAE13 img {
  height: 200px;
  width: auto;
}

/* Style pour le texte de la carte de projet */
.CarteProjetTxt {
  text-align: center;
  /* Texte centré */
  line-height: 1.5;
  /* Espacement des lignes */
  padding: 1.5rem;
  /* Marge intérieure */
}

/* Style pour le titre dans le texte de la carte de projet */
.CarteProjetTxt h3 {
  font-size: 1.5rem;
  /* Taille de la police */
  font-weight: 700;
  /* Police en gras */
  letter-spacing: 2.5px;
  /* Espacement des lettres */
  margin: 0;
  /* Pas de marge */
}

/* Style pour le lien dans le texte de la carte de projet */
.CarteProjetTxt a {
  text-decoration: none;
  /* Pas de soulignement */
  color: dimgray;
  /* Couleur du texte */
  border: 1px solid dimgray;
  /* Bordure */
  padding: 5px 7px;
  /* Marge intérieure */
  border-radius: 4px;
  /* Coins arrondis */
}

/* Style pour le lien dans le texte de la carte de projet au survol */
.CarteProjetTxt a:hover {
  background-color: #09f;
  /* Fond bleu */
}

/* --------------------------------------- */
/* Expériences */

/* Style pour la section des expériences */
#experiences {
  display: flex;
  /* Utilisation de Flexbox pour la mise en page */
  align-items: center;
  /* Centrage vertical des éléments */
  justify-content: center;
  /* Centrage horizontal des éléments */
}

/* Style pour la boîte contenant les expériences */
#boiteexperiences {
  width: fit-content;
  /* Largeur adaptée au contenu */
  height: fit-content;
  /* Hauteur adaptée au contenu */
  padding: 20px;
  /* Marge intérieure */
  background-color: white;
  /* Fond blanc */
  border-radius: 15px;
  /* Coins arrondis */
  display: flex;
  /* Utilisation de Flexbox pour la mise en page */
  flex-direction: column;
  /* Les éléments sont disposés en colonne */
  align-items: center;
  /* Centrage horizontal des éléments */
  justify-content: center;
  /* Centrage vertical des éléments */
}

/* --------------------------------------- */
/* Contact */

/* Style pour la section de contact */
#contact {
  display: flex;
  /* Utilisation de Flexbox pour la mise en page */
  align-items: center;
  /* Centrage vertical des éléments */
  justify-content: center;
  /* Centrage horizontal des éléments */
}

/* Style pour la boîte contenant le formulaire de contact */
#boitecontact {
  width: 80%;
  /* Largeur de la boîte */
}

/* Style pour le formulaire de contact */
#contact-form {
  display: flex;
  /* Utilisation de Flexbox pour la mise en page */
  flex-direction: column;
  /* Les éléments sont disposés en colonne */
  align-items: center;
  /* Centrage horizontal des éléments */
  justify-content: center;
  /* Centrage vertical des éléments */
  width: 100%;
  /* Largeur du formulaire */
  justify-self: center;
  /* Centrage du formulaire dans son conteneur */
  gap: 5px;
  /* Espace entre les éléments */
}

/* Style pour les paragraphes dans le formulaire de contact */
#contact-form p {
  width: 50%;
  /* Largeur des paragraphes */
  text-align: right;
  /* Texte aligné à droite */
  display: flex;
  /* Utilisation de Flexbox pour la mise en page */
}

/* --------------------------------------- */
/* Styles pour le formulaire de contact */

/* Styles pour les labels du formulaire de contact */
#contact-form>p>label {
  flex: 1;
  /* Permet au label de prendre 1 fraction de l'espace disponible */
  width: fit-content;
  /* La largeur du label correspond à son contenu */
  text-align: center;
  /* Le texte du label est centré */
}

/* Styles pour les champs de saisie et les zones de texte du formulaire de contact */
#contact-form>p>input,
#contact-form>p>textarea {
  flex: 2;
  /* Permet au champ de saisie ou à la zone de texte de prendre 2 fractions de l'espace disponible */
  height: 50px;
  /* Hauteur fixe pour les champs de saisie et les zones de texte */
}

/* Styles spécifiques pour les zones de texte du formulaire de contact */
#contact-form>p>textarea {
  resize: vertical;
  /* Permet à l'utilisateur de redimensionner la zone de texte verticalement */
  height: 75px;
  /* Hauteur spécifique pour les zones de texte */
}

/* --------------------------------------- */
/* Styles pour le CV */

#cv {
  display: flex;
  /* Utilise le modèle de boîte flexible pour le CV */
  flex-direction: column;
  /* Les éléments du CV sont disposés en colonne */
  align-items: center;
  /* Centre horizontalement les éléments du CV */
  justify-content: center;
  /* Centre verticalement les éléments du CV */
  gap: 10px;
  /* Espacement entre les éléments du CV */
}

/* --------------------------------------- */
/* Animations */

/* Animation "bounce" */
@keyframes bounce {

  0%,
  100% {
      transform: translateX(-50%) translateY(0);
      /* Déplace l'élément de -50% horizontalement et de 0 verticalement */
  }

  50% {
      transform: translateX(-50%) translateY(-20px);
      /* Déplace l'élément de -50% horizontalement et de -20px verticalement */
  }
}

/* Animation "show" */
@keyframes show {

  0%, 100%{
    margin-top: -450px;
  }
  5%, 20% {
    margin-top: 0px;
  }
  25%, 40% {
    margin-top: -90px;
  }
  45%, 60% {
    margin-top: -180px;
  }
  65%, 80% {
    margin-top: -270px;
  }
  85%, 99.99% {
    margin-top: -360px;
  }
}

/* --------------------------------------- */
/* Styles pour le pied de page */

#footer {
  font-size: 1rem;
  /* Taille de la police du pied de page */
  color: #fff;
  /* Couleur du texte du pied de page */
  background-color: #383838;
  /* Couleur de fond du pied de page */
  padding: 20px;
  /* Espacement intérieur du pied de page */
  text-align: center;
  /* Le texte du pied de page est centré */
}